# Ideally we'd turn back on a few of these that are disabled near the end
#Checks:          'clang-diagnostic-*,clang-analyzer-*,performance-*,bugprone-*,cert-*,readability-*,misc-*,-modernize-*,-clang-analyzer-security.insecureAPI.strcpy,-bugprone-macro-parentheses,-readability-braces-around-statements,-misc-unused-parameters,-readability-implicit-bool-conversion,-clang-diagnostic-missing-field-initializers,-clang-diagnostic-missing-braces'
Checks: '-*,bugprone-*,-bugprone-narrowing-conversions,-bugprone-integer-division'
WarningsAsErrors: ''
HeaderFilterRegex: 'HTS_2_2/src/.*'
AnalyzeTemporaryDtors: false
